* {
    margin: 0;
    padding: 8;
    font-family: sans-serif;
    color: #212124;
}

button {
    background-color: transparent;
}

button:hover {
    background-color: white;
    color: #212124;
}

body {
    background-color: #F3F5F6;

}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, .40), rgba(0, 0, 0, .40)), url(duck1.jpg);
    background-size: cover;
    background-position: center;
}

.navbar {
    width: 100vw;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, .30);
    text-transform: uppercase;
}

.navbar div {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    text-align: center;
}

.navbarbanner {
    transform: translateY(10px);
    margin-left: 20px;
    height: 40px;
    width: auto;
}

.welcome {
    margin-left: 5px;
    font-size: 25px;
}

.demo-user {
    background-color: chocolate;
}

.demo-user:hover {
    background-color: rgb(161, 87, 34);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    background-color: black;
    padding-top: 10px;
    text-anchor: none;
}

.git {
    padding-right: 30px;
}

.linked {
    padding-left: 30px;
}

a:link {
    text-decoration: none;
    color:#FFFFFF99;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #FFFFFF
}

a:active {
    text-decoration: none;
}
