.username{
    font-weight: bold;
}

.logout-button{
    background-color: white;
    color: #212124;
}

input, textarea {
    background-color : transparent;
}

.comments {
    margin: 8px;
}

button {
    margin: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 15%;

}

.onephoto {
    height: 500px;
    width: auto;
}

.all-photos {
    margin: 20px;
}

button {
    cursor: pointer;
}
